.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;   
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 46px;
    padding-top: 60px;
    justify-content: center;
}